.wrapper{
  background:#fff;
  width: 700px;
  margin: 0 auto;
}
body{
  background:#fff;
}
p{
  margin-bottom: 15px;
  text-align: center;
}

#top__btn--area{
clear:both;
}

#bottom__btn--area{
background:#fff;
height:75px;
margin-top:15px;
border-radius:15px;
border:2px solid #666;
}

#log{
background:#fff;
font-size:1.66em;
margin:0 auto;
text-align:center;
height:72px;
line-height:72px;
text-decoration:none;
color:#444;
}

#top__btn--area .left{
border-radius: 15px;
background: #bbb;
float:left;
width:343px;
height:536px;
font-size: 3em;
color: #fff;
text-decoration:none;
/*border:2px solid #000;*/
}

#top__btn--area .right{
border-radius: 15px;
background: #bbb;
float:left;
margin-left:14px;
width:343px;
height:536px;
font-size: 3em;
color: #fff;
text-decoration:none;
}

#links{
margin:0 auto;
margin-top:20px;
width:160px;
}

img{
width:100%;
height:100%;
}

img[alt="defendImg"]{
margin:0 auto;
margin-top:40px;
margin-bottom:40px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

